[submodule "models/Perovskite-Ordering-GCNNs-cgcnn"]
	path = models/Perovskite-Ordering-GCNNs-cgcnn
	url = git@github.com:learningmatter-mit/Perovskite-Ordering-GCNNs-cgcnn.git
[submodule "Perovskite-Ordering-GCNNs-e3nn"]
	path = models/Perovskite-Ordering-GCNNs-e3nn
	url = git@github.com:learningmatter-mit/Perovskite-Ordering-GCNNs-e3nn.git
[submodule "Perovskite-Ordering-GCNNs-painn"]
	path = models/Perovskite-Ordering-GCNNs-painn
	url = git@github.com:learningmatter-mit/Perovskite-Ordering-GCNNs-painn.git
