[submodule "models/PerovskiteOrderingGCNNs_cgcnn"]
	path = models/PerovskiteOrderingGCNNs_cgcnn
	url = git@github.com:learningmatter-mit/PerovskiteOrderingGCNNs_cgcnn.git
[submodule "models/PerovskiteOrderingGCNNs_painn"]
	path = models/PerovskiteOrderingGCNNs_painn
	url = git@github.com:learningmatter-mit/PerovskiteOrderingGCNNs_painn.git
[submodule "models/PerovskiteOrderingGCNNs_e3nn"]
	path = models/PerovskiteOrderingGCNNs_e3nn
	url = git@github.com:learningmatter-mit/PerovskiteOrderingGCNNs_e3nn.git
	branch = main
[submodule "models/PerovskiteOrderingGCNNs_alignn"]
	path = models/PerovskiteOrderingGCNNs_alignn
	url = git@github.com:learningmatter-mit/PerovskiteOrderingGCNNs_alignn.git
